# Django Core Settings
# IMPORTANTE: Gere uma nova chave secreta para produção. Você pode usar um gerador online.
DJANGO_SECRET_KEY="django-insecure-v$5yzu1+$e%6#vi%by8z(efxk8(wbzo@^4lf5sx4l_-k*bx)4w"
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=leads-spagi.spagisistemas.com.br,www.leads-spagi.spagisistemas.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://leads-spagi.spagisistemas.com.br,https://www.leads-spagi.spagisistemas.com.br

# Database Settings (PostgreSQL)
DB_NAME=spagileads
DB_USER=postgres
DB_PASSWORD="ddbb965b364962c5c22f0d688b5cffc2"
DB_HOST=postgres
DB_PORT=5432

# MinIO Storage Settings
MINIO_EXTERNAL_ENDPOINT="s3.spagisistemas.com.br"
MINIO_STORAGE_ENDPOINT="s3.spagisistemas.com.br"
MINIO_STORAGE_ACCESS_KEY="evIJTBeXbpAx0m7ZDjC9"
MINIO_STORAGE_SECRET_KEY="gO25VuhrrvrDmh7rigczJgRhx1uY9NVFJXJAyvo1"
MINIO_STORAGE_USE_HTTPS=True
MINIO_STORAGE_MEDIA_BUCKET_NAME="leads-spagi-media"

# Django Superuser (Opcional, usado por alguns scripts de inicialização)
DJANGO_SUPERUSER_PASSWORD=admin