asgiref==3.9.1
Django==5.2.6
sqlparse==0.5.3
tzdata==2025.2
xhtml2pdf==0.2.11
django-minio-storage==0.5.8
requests==2.31.0
gunicorn
python-dotenv
psycopg
psycopg2
whitenoise[brotli]
google-genai
beautifulsoup4
bs4
django-webpush
pdfplumber
google.generativeai
python-dateutil==2.9.0.post0
mozilla-django-oidc==4.0.0