asgiref==3.9.1
Django==5.2.6
sqlparse==0.5.3
tzdata==2025.2
xhtml2pdf==0.2.17
django-minio-storage==0.5.8
requests==2.31.0
gunicorn==26.0.0
python-dotenv==1.2.2
psycopg2==2.9.12
whitenoise[brotli]==6.12.0
google-genai==2.10.0
beautifulsoup4==4.15.0
django-webpush==0.3.6
pdfplumber==0.11.10
Pillow==12.3.0
python-dateutil==2.9.0.post0
mozilla-django-oidc==4.0.0
