<li class="nav-item">
    <a class="nav-link" href="#menuFinanciamentos" data-bs-toggle="collapse" role="button" aria-expanded="false">
        <i class="fa fa-university"></i> Financiamentos <i class="fa fa-chevron-down ms-auto" style="font-size:0.7em"></i>
    </a>
    <div class="collapse" id="menuFinanciamentos">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link ps-5" href="{% url 'financiamentos_kanban' %}">Mesa (Kanban)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-5" href="{% url 'financiamentos_create' %}">Nova Ficha</a>
            </li>
        </ul>
    </div>
</li>