{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin_m3.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
  <a href="{% url 'portal' %}" class="m3-admin-back-link">&larr; Voltar ao CRM</a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
